.DS_Store

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Vite logs files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# App personalised config - no need to check in as it's created by the script
packages/server/config.json

# Ignore generated dist folders
packages/client/dist
packages/electron/dist