/* packages/client/src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111827; /* bg-gray-900 */
}

code[class*="language-"] {
  white-space: inherit !important;
  word-break: inherit !important;
  overflow-wrap: inherit !important;
}

/* Custom Scrollbar Styles */
/* For Webkit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #1f2937; /* bg-gray-800 */
}

::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* bg-gray-600 */
  border-radius: 6px;
  border: 3px solid #1f2937; /* bg-gray-800 */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280; /* bg-gray-500 */
}

/* For Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 #1f2937; /* thumb color track color */
}

@keyframes pulse-indeterminate {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-pulse-indeterminate {
  animation: pulse-indeterminate 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.xterm-container .xterm {
  padding: 5px 0 0 7px;
}
