@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111827; /* bg-gray-900 */
}

code[class*="language-"] {
  white-space: inherit !important;
  word-break: inherit !important;
  overflow-wrap: inherit !important;
}
